 
.game-contanier   {
/* width: 200px; */
overflow: hidden;
/* display: flex;
flex-wrap: wrap; */
/* padding: 10px; */
margin: 20px auto;
border: 5px solid transparent;
text-align: center;
min-height: 360px;


}
.game-contanier .game-block {
position: relative;
height: 200px;
-moz-transform-style: preserve-3d;
-webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
transition: trnasform .5s; 
cursor: pointer;
line-height: 200px;
  width: 400px;  
box-shadow: 0 10px 15px rgba(0, 0, 0, .25);  
height: auto;  


}

.game-contanier .game-block .face {
 
  height: auto;  
 
position: absolute;  
}

.game-contanier .game-block .front {
background:#333;
backface-visibility: hidden!important;  
line-height: 20px;
color: #fff;



}
/* .game-contanier .game-block .front::after{
content: '?';
font-size: 150px;
color: #fff;
} */

.game-contanier .game-block .back {
transition: all .5s;
background: #fff!important;
transform: rotateY(180deg);   
backface-visibility: hidden!important;  
}


.is-flipped  {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    transition: all .5s;
}